In [2]:
# Importando as bibliotecas que utilizaremos
import pandas as pd
import json
import requests

– Crie um programa que:
- solicite o cep de residencia, sem o traco
- faca a requisicao na api mostrada em aula
- imprima o cep no texto: "Identificamos que seu cep é da rua {rua identificada na api cep}, confere?"
- solicite uma resposta: sim ou nao
- em caso de sim, retorne o texto "Obrigado, sua entrega foi agendada"
- em caso de nao, retorne o texto "Por favor, execute a célula e preencha novamente"

In [17]:
cep = input('CEP(Sem traços): ')
cep = cep.replace('-', '')  

req_cep = requests.get(f'https://viacep.com.br/ws/{cep}/json/')

consulta_cep = req_cep.json()
resposta = input(f"Identificamos que seu cep é da {consulta_cep['logradouro']}, confere? ")

if resposta == 'sim':
  print("Obrigado, sua entrega foi agendada.")
elif resposta == 'não':
  print('Por favor, execute a celula e preencha novamente.')
else:
  print('Digite apenas sim ou não.')

CEP(Sem traços): 01136-000
Identificamos que seu cep é da Rua do Bosque, confere? sim
Obrigado, sua entrega foi agendada.

– Crie um programa que:
- Faça uma lista com as cotações: USD-BRL, EUR-BRL, BTC-BRL
- faca a requisicao na api de moedas, conforme mostrado em aula
- armazene cada elemento da lista num objeto
- imprima o seguinte texto: A cotação máxima do {} foi de {}
- Você deve imprimir o valor para as 3 moedas.

In [10]:
lista_moedas = ['USD-BRL', 'EUR-BRL', 'BTC-BRL']
for moeda in lista_moedas:
  req = requests.get(f'https://economia.awesomeapi.com.br/last/{moeda}')
  cotacao = req.json()
  for v in cotacao.values():
    print(f"A cotação máxima do {v['code']} foi de R$ {v['high']}")

A cotação máxima do USD foi de R$ 5.1174
A cotação máxima do EUR foi de R$ 5.139
A cotação máxima do BTC foi de R$ 111.67

– Abrir o arquivo dados_exemplo_formatos.txt.
- Usando o operador de repetição for, imprima as
três primeiras linhas do arquivo.
- Feche o arquivo.

In [12]:
f = open('/content/sample_data/dados_exemplo_formatos.txt','r', encoding='utf-8')

for linha in range(3):
  texto = f.readline() 
  print(texto)

f.close()

0001 BrunoSouza Bahia 028 tecnologia

0002 TiagoRibeiro SantaCatarina 030 politica

0003 DanielaNunes MinasGerais 051 noticias

– Abrir o arquivo dados_exemplo_formatos.txt
- Leia as linhas do arquivo e então
concatene-as em um único String
- Converta o String resultante em uma lista de
palavras
- Utilize o método split do String para converter um
String em uma lista

In [13]:
f = open('/content/sample_data/dados_exemplo_formatos.txt','r', encoding='utf-8')

texto = f.readlines() # Retorna linha por linha
string = ''
for linha in texto:
  string+=linha
print(string)

lista_palavras = string.split(' ')
print(lista_palavras)

f.close()

0001 BrunoSouza Bahia 028 tecnologia
0002 TiagoRibeiro SantaCatarina 030 politica
0003 DanielaNunes MinasGerais 051 noticias
0004 CarlosJunior SaoPaulo 049 ciencia
0005 RicardoMaia RiodeJaneiro 068 fofoca
0006 MariaFausto SaoPaulo 025 pets
['0001', 'BrunoSouza', 'Bahia', '028', 'tecnologia\n0002', 'TiagoRibeiro', 'SantaCatarina', '030', 'politica\n0003', 'DanielaNunes', 'MinasGerais', '051', 'noticias\n0004', 'CarlosJunior', 'SaoPaulo', '049', 'ciencia\n0005', 'RicardoMaia', 'RiodeJaneiro', '068', 'fofoca\n0006', 'MariaFausto', 'SaoPaulo', '025', 'pets']

– Abrir o arquivo dados_exemplo_formatos.csv com Pandas
- Mostrar as 5 primeiras observações
- Exportar as colunas para lista
- Filtrar as colunas id, naturalidade e cluster da lista criada, concatenar e separando por vírgulas

In [14]:
df = pd.read_csv('/content/sample_data/dados_exemplo_formatos.csv', delimiter=';')
df.head()

   id           nome    naturalidade  idade     cluster
0   1    Bruno Souza           Bahia     28  tecnologia
1   2  Tiago Ribeiro  Santa Catarina     30    politica
2   3  Daniela Nunes    Minas Gerais     51    noticias
3   4  Carlos Junior       Sao Paulo     49     ciencia
4   5   Ricardo Maia  Rio de Janeiro     68      fofoca

In [15]:
lista = df.columns
list(lista)

print(f'{lista[0]}, {lista[2]}, {lista[4]}')

id, naturalidade, cluster